@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>If you want to contact with us, please Email us.</h3>

<address>
    Monash University IE A01-Powerhouse
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yupuli1024@gmail.com">yupuli1024@gmail.com</a><br />
</address>