@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/home.js"></script>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- helpers -->

    <link rel="stylesheet" href="../../Contentplugins/bootstrap/css/bootstrap.min.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="../../Contentplugins/font-awesome/css/font-awesome.min.css">
    <!-- strock gap icons -->
    <link rel="stylesheet" href="../../Contentplugins/Stroke-Gap-Icons-Webfont/style.css">
    <!-- revolution slider css -->
    <link rel="stylesheet" href="../../Contentplugins/revolution/css/settings.css">
    <link rel="stylesheet" href="../../Contentplugins/revolution/css/layers.css">
    <link rel="stylesheet" href="../../Contentplugins/revolution/css/navigation.css">
    <!-- flaticon css -->
    <link rel="stylesheet" href="../../Content/plugins/flaticon/flaticon.css">
    <!-- jQuery ui css -->
    <link href="../../Contentplugins/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="../../Contentplugins/owl.carousel-2/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../Contentplugins/owl.carousel-2/assets/owl.theme.default.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="../../Contentplugins/animate.min.css">
    <!-- fancybox -->
    <link rel="stylesheet" href="../../Contentplugins/fancyapps-fancyBox/source/jquery.fancybox.css">
    <!-- bxslider -->
    <link rel="stylesheet" href="../../Contentplugins/bx-slider/jquery.bxslider.css">

    <link href="../../Contentplugins/plupload-2.1.8/js/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet">

    <!-- master stylesheet -->

    <link href="../../Content/style.css" rel="stylesheet" />
    <!-- responsive stylesheet -->

    <link href="../../Content/responsive.css" rel="stylesheet" />


</head>
<body>

    <header id="header" class="stricky">
        <div class="thm-container clearfix">
            <div class="logo pull-left">
                <a href="http://powerhousea01zerowaste.azurewebsites.net/Home">
                    <img src="~/images/logo.png" />
                </a>
            </div>
            <div class="nav-holder pull-right">
                <div class="nav-header">
                    <button><i class="fa fa-bars"></i></button>
                </div>
                <div class="nav-footer">
                    <ul class="nav">
                        <li><a href="http://powerhousea01zerowaste.azurewebsites.net/Home"><i class="flaticon-food"></i>Home</a></li>
                        <li>
                            <a href="http://powerhousea01zerowaste.azurewebsites.net/Home/Recipe"><i class="flaticon-food-2"></i>recipes</a>

                        </li>
                        <li><a href="http://powerhousea01zerowaste.azurewebsites.net/Home/Locations"><i class="flaticon-food-4"></i>Location</a></li>
                        <li><a href="http://powerhousea01zerowaste.azurewebsites.net/Home/Contact"><i class="flaticon-food-1"></i>contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <h2>@ViewBag.Title.</h2>
    <h3>If you want to contact with us, please Email us.</h3>

    <address>
        A01-Powerhouse

    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:yupuli1024@gmail.com">pha01@gmail.com</a><br />
    </address>
    </body>
</html>
