@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">Love the Earth.</p>
        <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Map</h2>
        <p>
            The map is for those who what to now the collection point
        </p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=collect+point+vic&npsic=0&rflfq=1&rlha=0&rllag=-37934222,145009012,17036&tbm=lcl&ved=2ahUKEwimmZbe2uToAhXczDgGHb76DYMQtgN6BAgLEAQ&tbs=lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2&rldoc=1#rlfi=hd:;si:;mv:[[-37.297501627583344,146.6585543550781],[-38.61843813613188,143.5933688082031],null,[-37.96093974979145,145.1259615816406],9]">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Love the Earth</h2>
        <p>Let's start to love our earth.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=pvuN_WvF1to">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Advertistment</h2>
        <p>Ads.</p>
        <p><a class="btn btn-default" href="https://www.goingzerowaste.com/">Learn more &raquo;</a></p>
    </div>
</div>