@{
    ViewBag.Title = "Recipe";
}

<h2 class="query">@ViewBag.Title</h2>
<h3>
    @ViewBag.Message
</h3>
<!DOCTYPE html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<style>
        .query{
            position:center;
            width:300px;
            margin:0 auto;
        }
        .input{
            border: 4px solid #2b56d6;
            border-radius: 5px;
            background: transparent;
            top: 0;
            right: 0;
            height:35px;

        }
        .button{
            background: #2b56d6;
            color: #ffffff;
            border-radius: 0 5px 5px 0;
            width: 60px;
            top: 0;
            right: 0;
            height:35px;
        }
 </style>

<div class="query">
    <input id="search" class="input">
    <button class="button" id="btn1" onclick="getrecipe(document.getElementById('search').value)">Search</button>
    <!---->
    <button class="button" onclick="getStep()">Steps</button>
</div>
<div id="output"></div>
<div id="servings"></div>
<div id="ingredient"></div>
<div id="totalTime"></div>
<div id="imgs"></div>
<div id="Steps"></div>
<script>
    var rid = 0;
    function getrecipe(q) {
        $.ajax({
           url: "https://api.spoonacular.com/recipes/search?query=" + q + "&apiKey=a16063f4fe2b4f5b952d4a348d15892e",
            //url: "https://api.edamam.com/search?q=" + q + "&app_id=30b0eafd&app_key=b2cf3c073d24eafc3b79553dd0e23747",
            success: function (res) {
                document.getElementById("output").innerHTML = "<h1>" + res.results[0].title + "</h1><br>"
                rid = res.results[0].id
                //document.getElementById("servings").innerHTML = "<h1> Servings: " + res.results[0].servings + "</h1><br>"
                //document.getElementById("totalTime").innerHTML = "<h2> Cook Time: " + res.results[0].readyInMinutes + " minutes </h2><br>"
                //document.getElementById("imgs").innerHTML = "<img src='" + res.baseUri + res.results[0].image + "' width='400' /><br>"


               var i = 0;
                var a="";
                for (i; i < 10; i++) {
                     a= a+"<div> <h1>" + res.results[i].title + "</h1><br>"+ "<h1> Servings: " + res.results[i].servings + "</h1><br>"+"<h2> Cook Time: " + res.results[i].readyInMinutes + " minutes </h2><br>"+"<img src='" + res.baseUri + res.results[i].image + "' width='400' /><br> </div>"
                }
                document.getElementById("Steps").innerHTML = a;


                //document.getElementById("output").innerHTML = "<h1>" + res.hits[0].recipe.label + "</h1><br>"
                //document.getElementById("context").innerHTML = "<h2> Labels:" + res.hits[0].recipe.healthLabels + "</h2><br>"
                //document.getElementById("imgs").innerHTML = "<h2><img src='" + res.hits[0].recipe.image + "'/>  </h2><br>"
                //document.getElementById("ingredient").innerHTML = "<h2> IngredientLines:" + res.hits[0].recipe.ingredientLines + "</h2><br>"
                //document.getElementById("calories").innerHTML = "<h2> Calories:" + res.hits[0].recipe.caories + " caories </h2><tr>"
                //document.getElementById("totalTime").innerHTML = "<h2> Cook Time:" + res.hits[0].recipe.totalTime + " minutes </h2><br>"

            }
        });
    }       
    function getStep() {
        
        $.ajax({
            url: "https://api.spoonacular.com/recipes/" + rid + "/analyzedInstructions?apiKey=a16063f4fe2b4f5b952d4a348d15892e",
            success: function (results) {
                var cookSteps = ""
                results.forEach(function (e) {
                    cookSteps = cookSteps + "<h2>" + e.steps[0].step + "</h2><br>"
                });
                
                document.getElementById("Steps").innerHTML = cookSteps;
           }
        });
    }
</script>