
@{
    ViewBag.Title = "Showrecipe";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Recipes</title>
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/Recipe.js"></script>
    <script src="~/Scripts/ShowRecipes.js"></script>
    <!-- helpers -->

    <link rel="stylesheet" href="../../Contentplugins/bootstrap/css/bootstrap.min.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="../../Contentplugins/font-awesome/css/font-awesome.min.css">
    <!-- strock gap icons -->
    <link rel="stylesheet" href="../../Contentplugins/Stroke-Gap-Icons-Webfont/style.css">
    <!-- revolution slider css -->
    <link rel="stylesheet" href="../../Contentplugins/revolution/css/settings.css">
    <link rel="stylesheet" href="../../Contentplugins/revolution/css/layers.css">
    <link rel="stylesheet" href="../../Contentplugins/revolution/css/navigation.css">
    <!-- flaticon css -->
    <link rel="stylesheet" href="../../Content/plugins/flaticon/flaticon.css">
    <!-- jQuery ui css -->
    <link href="../../Contentplugins/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="../../Contentplugins/owl.carousel-2/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../Contentplugins/owl.carousel-2/assets/owl.theme.default.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="../../Contentplugins/animate.min.css">
    <!-- fancybox -->
    <link rel="stylesheet" href="../../Contentplugins/fancyapps-fancyBox/source/jquery.fancybox.css">
    <!-- bxslider -->
    <link rel="stylesheet" href="../../Contentplugins/bx-slider/jquery.bxslider.css">

    <link href="../../Contentplugins/plupload-2.1.8/js/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet">

    <!-- master stylesheet -->

    <link href="../../Content/style.css" rel="stylesheet" />
    <!-- responsive stylesheet -->

    <link href="../../Content/responsive.css" rel="stylesheet" />


</head>
<body>



    <header id="header" class="stricky">
        <div class="thm-container clearfix">
            <div class="logo pull-left">
                <a href="http://powerhousea01zerowaste.azurewebsites.net/Home">
                    <img src="~/images/logo.png" />

                </a>
            </div>
            <div class="nav-holder pull-right">
                <div class="nav-header">
                    <button><i class="fa fa-bars"></i></button>
                </div>
                <div class="nav-footer">
                    <ul class="nav">
                        <li><a href="http://powerhousea01zerowaste.azurewebsites.net/Home"><i class="flaticon-food"></i>Home</a></li>
                        <li>
                            <a href="http://powerhousea01zerowaste.azurewebsites.net/Home/Recipe"><i class="flaticon-food-2"></i>recipes</a>

                        </li>
                        <li><a href="http://powerhousea01zerowaste.azurewebsites.net/Home/Locations"><i class="flaticon-food-4"></i>Location</a></li>
                        <li><a href="http://powerhousea01zerowaste.azurewebsites.net/Home/Contact"><i class="flaticon-food-1"></i>contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="inner-banner">
        <div class="thm-container">
            <div class="box clearfix">
                <h2 class="pull-left">Recipes</h2>

            </div>
        </div>
    </section>


    <section class="single-recipe-page-content sec-padding">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-7">
                    <div class="">
                        <div id="imgs">
                            <!--recipe images/ -->

                        </div>

                    </div>


                    <div class="sec-title">

                        <!--Step/-->

                        <h2>Steps</h2>
                    </div>

                    <div class="direction-box" id="steps">


                    </div>

                </div>
                <div class="col-md-5">
                    <div class="content-box-wrapper">
                        <div class="title-box">
                            <div class="top-meta clearfix">

                            </div>
                            <!-- Title -->
                            <div class="title" id="name">

                            </div>
                        </div>

                        <div class="ingredients contact-form">
                            <div class="sec-title">
                                <h2>ingredients</h2>
                            </div>
                            <ul class="special-checkbox" id="ingredient">
                            </ul>
                        </div>
                        <div class="sec-title">
                            <!--Summary/-->
                            <h2>Descriptions</h2>
                        </div>
                        <div id="summary">

                        </div>
                        <div class="sec-title">

                            <!--Nurtrition/-->

                            <h2>nutrition</h2>
                        </div>
                        <div class="nutrition-box">
                            <ul>
                                <li>
                                    <!--Protein/-->
                                    <span class="name">Protein</span>
                                    <span class="weight" id="protien"></span>

                                </li>

                                <li>
                                    <!--Fat/-->
                                    <span class="name">Fat</span>
                                    <span class="weight" id="fat"></span>

                                </li>
                                <!--Carbohydrates/-->

                                <li>
                                    <span class="name">Carbohydrates</span>
                                    <span class="weight" id="carbohydrate"></span>

                                </li>
                                <!--Calories/-->

                                <li>
                                    <span class="name">Calories</span>
                                    <span class="weight" id="calories"></span>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class=" blog-page single-post-page  browse-recipe single-recipe-page sec-padding">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-4 pull-right single-sidebar-wrapper">
                    <div class="single-sidebar-widget">
                        <div class="sec-title">
                            <h2><span>Search</span></h2>
                        </div>
                        <!--Search box-->
                        <div class="search-box">
                            <form action="#">
                                <input type="text" placeholder="Enter Search Keywords" id="search">
                                <button type="submit" onclick="getrecipe(document.getElementById('search').value)"><i class="icon icon-Search"></i></button>
                            </form>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </section>

    <section class="bottom-bar text-center">
        <div class="thm-container clearfix">
            <p>Copyright &copy; A1-Powerhouse 2020. All rights reserved. <span>Created by DesignArc</span></p>
        </div>
    </section>


    <!-- JS -->
    <!-- jQuery js -->
    <script src="../../Content/plugins/jquery/jquery-1.11.3.min.js"></script>
    <!-- bootstrap js -->
    <script src="../../Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- jQuery ui js -->
    <script src="../../Content/plugins/jquery-ui-1.11.4/jquery-ui.js"></script>
    <!-- owl carousel js -->
    <script src="../../Content/plugins/owl.carousel-2/owl.carousel.min.js"></script>
    <!-- jQuery appear -->
    <script src="../../Content/plugins/jquery-appear/jquery.appear.js"></script>
    <!-- jQuery countTo -->
    <script src="../../Content/plugins/jquery-countTo/jquery.countTo.js"></script>
    <!-- jQuery validation -->
    <script src="../../Content/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- gmap.js helper -->
    <!--<script src="http://maps.google.com/maps/api/js"></script>-->
    <!-- gmap.js -->
    <!--<script src="plugins/gmap.js"></script>-->
    <!-- mixit up -->
    <script src="../../Content/plugins/jquery.mixitup.min.js"></script>
    <!-- bxslider js -->
    <script src="../../Content/plugins/bx-slider/jquery.bxslider.min.js"></script>

    <!-- revolution slider js -->
    <script src="../../Content/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="../../Content/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="../../Content/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="../../Content/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../../Content/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../../Content/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../../Content/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="../../Content/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../../Content/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../../Content/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../../Content/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <!-- fancy box -->
    <script src="../../Content/plugins/fancyapps-fancyBox/source/jquery.fancybox.pack.js"></script>
    <!-- type script -->
    <script src="../../Content/plugins/typed.js-master/dist/typed.min.js"></script>





    <script src="../../Content/plugins/plupload-2.1.8/js/plupload.full.min.js"></script>
    <script src="../../Content/plugins/plupload-2.1.8/js/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>


    <!-- theme custom js  -->

    <script src="../../Scripts/main.js"></script>

</body>
</html>