
@{
    ViewBag.Title = "Showrecipe";

}


<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <style>
        body {
            margin:auto;
            background-image: url('../../images/recipebg.jpg');
           height: 100%;
            width: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box{
            float:left;
			border-radius: 30px;
            height:auto;
			width: 20%;
            padding: 10px;
            border: thin;
            margin: 0;
			background-color: white;
		}
        .box1 {
            float:left;
            border-radius: 30px;
            width: 30%;
            height: auto;
            top: 35px;
            padding: 10px;
            border: thin;
            margin: 0;
            background-color: white;
        }

        .box2 {
            float:right;
            font-size:small;
            border-radius: 30px;
            width: 50%;
            height: auto;
            top: 35px;
            padding: 10px;
            border: thin;
            margin: 0;
            background-color: white;
        }
        .steps{
            height:auto
        }
    </style>

    <div class="steps">

        <div class="box" >
            <div id="title"></div>
            <div id="imgs"></div>
            <div id="servings"></div>
            <div id="totalTime"></div>
        </div>


        <div class="box1" id="ingredient" >
            <p><h2>Ingredients Needed:</h2><br></p>
        </div>


        <div class="box2" id="steps" >
            <p><h2> Method Of Cooking:</h2><br</p>
        </div>
        <!--<div id="summary"></div>-->
    </div>
</head>
<body>

</body>
</html>
<!-- -->
<script type="text/javascript">
   var rid ;
    function oneValue() {
        var url = window.location.search;
        if (url.indexOf("?") != -1) {
            rid = url.substr(url.indexOf("=") + 1);
        }
    }
    function getInformation() {
        $.ajax({
            url: "https://api.spoonacular.com/recipes/"+rid+"/information?includeNutrition=false&apiKey=a16063f4fe2b4f5b952d4a348d15892e",          
            success: function (res) {
                document.getElementById("ingredient").innerHTML = "<p>Ingredients:" + res.title + "</p><br>";
                document.getElementById("imgs").innerHTML = "<img src='" + res.image + "' width='100%' /><br>"
                document.getElementById("servings").innerHTML = "<p> Servings: " + res.servings + "</p>><br>"
                document.getElementById("totalTime").innerHTML = "<p> Cook Time: " + res.readyInMinutes + " minutes </p>><br>"
                //document.getElementById("summary").innerHTML = "<p> Summary: " + res.summary + "</p>><br>"
                document.getElementById("title").innerHTML = "<p>Recipe:" + res.title + "</p><br>";
           }
        });
    }
    function getIngredient() {
        $.ajax({
            url: "https://api.spoonacular.com/recipes/" + rid + "/ingredientWidget.json&apiKey=a16063f4fe2b4f5b952d4a348d15892e",          
            success: function (res) {
                var ing = "11"
                res.forEach(function (e) {
                    e.ingredient.forEach(function (f) {
                        //ing= ing+f.name+", "
                    })
                    
                })
                document.getElementById("ingredient").innerHTML = "<p>Ingredients:" + ing + "</p><br>";
           }
        });
    }
    function getStep() {       
        $.ajax({
            url: "https://api.spoonacular.com/recipes/" + rid + "/analyzedInstructions?apiKey=a16063f4fe2b4f5b952d4a348d15892e",
            success: function (results) {
                var cookSteps = "<h1>Cooking steps: </br><br>"
                
                results.forEach(function (e) {
                    var i=0
                    e.steps.forEach(function (s) {
                        cookSteps = cookSteps + "<h2>Step " + i + ":" + s.step + "</h2><br>"
                        i++
                    });                  
                });              
                document.getElementById("steps").innerHTML = cookSteps;
           }
        });
    }
    window.onload = function () {
        oneValue();
        getInformation();
        //getIngredient();
        getStep();
    }      
</script>