<ul>
    <li>
        <div class="count-box">
            <span>1</span>
        </div>
        <div class="text-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe rcitation ullamco laboris nisi ut aliquip exea commodo consequat.</p>
        </div>
    </li>  
</ul>
<ul><li><div class="count-box"><span>1</span></div><div class="text-box"><p></p></div></li></ul>