body {
    margin: 0;
    background-color: grey;
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/Picture4.jpg');
}

.query {
    position:center;
    float: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    margin: 0 auto;
}

.output {
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    border: thin;
    margin: 0;
    background-image: url('../images/Picture4.jpg');
}
}

.input {
    border: 4px solid #2b56d6;
    border-radius: 5px;
    top: 0;
    right: 0;
    height: 35px;
    background: white;
}

.button {
    background: #2b56d6;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    width: 60px;
    top: 0;
    right: 0;
    height: 35px;
}
